{% extends 'dyslexia/base.html' %}
{% load static %}
{% block title %}Features page - ReadRight{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
{% endblock %}

{% block h1 %}Conoce nuestros productos{% endblock %}

{% block content %}
<div class="row my-5 rounded shadow bg-light pt-3" id="infoTest">
    <h2 class="mb-3 text-blue-blue-800">Test para la detección de dislexia</h2>
    <h4 class="mb-2 text-blue-blue-900">Descubre si tienes dislexia con nuestro test de 32 preguntas diseñado para evaluar habilidades cognitivas y procesos de lectura.</h4>
    <div class="col-lg-8 col-sm-12">
        <ul class="list-group align-self-center align-middle mt-3">
            <li class="list-group-item border-0 bg-light p-3"><i class="fa-solid fa-check text-blue-blue-800"></i> Evaluación detallada de los siguientes procesos cognitivos:
                <ul>
                    <li class="mx-3">Habilidades lingüísticas</li>
                    <li class="mx-3">Memoria de trabajo</li>
                    <li class="mx-3">Procesos perceptuales</li>
                    <li class="mx-3">Funciones ejecutivas</li>
                </ul>
            </li>
            <li class="list-group-item border-0 bg-light p-3"><i class="fa-solid fa-check text-blue-blue-800"></i> Proporciona un diagnóstico claro y preciso de si el usuario tiene dislexia o no.</li>
            <li class="list-group-item border-0 bg-light p-3"><i class="fa-solid fa-check text-blue-blue-800"></i> Ayuda al usuario a identificar en que ejercicios presenta mayor dificultad.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-12 align-self-center text-center">
        <img src="{% static '/img/shine-young-man-working-at-laptop-having-ideas-1.png' %}" class="object-fit-cover img-fluid text-center" width="500em" alt="Chico trabajando con un ordenador y teniendo una idea">
    </div>
</div>
<div class="row my-5 rounded shadow bg-light pt-3" id="infoPrac">
    <h2 class="mb-3 text-blue-blue-800">Ejercicios prácticos</h2>
    <h4 class="mb-2 text-blue-blue-900">Mejora tus habilidades de lectura y comprensión con nuestros ejercicios de tratamiento diseñados para tratar la dislexia. Encontrarás:</h4>
    <div class="col-lg-4 col-sm-12 align-self-center text-center">
        <img src="{% static '/img/shine-young-man-writing-in-a-notebook.png' %}" class="object-fit-cover img-fluid text-center p-3" width="400em" alt="Chico escribiendo en un cuaderno">
    </div>
    <div class="col-lg-8 col-sm-12">
        <ul class="list-group align-self-center align-middle mt-3">
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Ejercicios de reconocimiento de letras y palabras, diseñados para mejorar la capacidad de lectura y escritura del usuario.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Ejercicios de audio para mejorar la asociación de sonidos con imágenes y la identificación de sílabas en las palabras.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Ejercicios para mejorar la comprensión y retención de información, como la asociación de imágenes y sonidos con palabras y la identificación de patrones visuales.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Ejercicios para mejorar la atención y la concentración, como la resolución de rompecabezas y la realización de tareas de ordenación y clasificación.</li>
        </ul>
    </div>
</div>
<div class="row my-5 rounded shadow bg-light pt-3" id="ingoML">
    <h2 class="mb-3 text-blue-blue-800">Modelo de Machine Learning</h2>
    <h4 class="mb-2 text-blue-blue-900">Nuestro modelo de machine learning ha sido entrenado con un conjunto de datos obtenidos de un estudio realizado en colegios públicos españoles.</h4>
    <div class="col-lg-8 col-sm-12">
        <ul class="list-group align-self-center align-middle mt-3">
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> El modelo de machine learning ha sido entrenado con más de 5.000 registros de usuarios disléxicos y no disléxicos.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> El modelo utiliza un algoritmo de Support Vector Machine (SVM) que se ha demostrado ser muy efectivo en la clasificación de los datos.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> El modelo tiene una precisión del 94% en la predicción de la dislexia, lo que lo convierte en una herramienta confiable para la evaluación inicial.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> El modelo sigue mejorando continuamente gracias al sistema de retroalimentación que permite actualizarlo con nuevos datos de los usuarios y, por lo tanto, mejorar su capacidad de predicción.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-12 align-self-center text-center">
        <img src="{% static '/img/shine-programmers-workplace-with-code-in-the-background-1.jpg' %}" class="object-fit-cover img-fluid text-center" width="550em" alt="Lugar de trabajo con un ordenador que tiene código en la pantalla">
    </div>
</div>
<div class="row my-5 rounded shadow bg-light pt-3" id="ingoSist">
    <h2 class="mb-3 text-blue-blue-800">Sistema de retro alimentación</h2>
    <h4 class="mb-2 text-blue-blue-900">Mejora tu experiencia y ayuda a nuestro modelo de Machine Learning a adaptarse a los nuevos datos con nuestro sistema de retroalimentación personalizado.</h4>
    <div class="col-lg-4 col-sm-12 align-self-center text-center">
        <img src="{% static '/img/shine-seo-optimization-and-graphics-1.png' %}" class="object-fit-cover img-fluid text-center" width="450em" alt="Dispositivos moviles con gráficas">
    </div>
    <div class="col-lg-8 col-sm-12">
        <ul class="list-group align-self-center align-middle mt-3">
            <li class="list-group-item border-0 bg-light p-3 "><i class="fa-solid fa-check text-blue-blue-800"></i> Permite al modelo adaptarse y mejorar su capacidad para predecir la dislexia con mayor precisión. </li>
            <li class="list-group-item border-0 bg-light p-3 "><i class="fa-solid fa-check text-blue-blue-800"></i> Los datos que generan son utilizados para mejorar la precisión del modelo en la detección de la dislexia. </li>
            <li class="list-group-item border-0 bg-light p-3 "><i class="fa-solid fa-check text-blue-blue-800"></i> Permite que los datos generados por el usuario sean incorporados al modelo de Machine Learning. </li>
        </ul>
    </div>
</div>
<div class="row my-5 rounded shadow bg-light pt-3" id="ingoAcc">
    <h2 class="mb-3 text-blue-blue-800">Diseño accesible</h2>
    <h4 class="mb-2 text-blue-blue-900">Nuestra página web está diseñada para ser accesible para todas las personas, sin que importen sus capacidades físicas o cognitivas.</h4>
    <div class="col-lg-8 col-sm-12">
        <ul class="list-group align-self-center align-middle mt-3 mb-3">
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Diseño adaptable para diferentes dispositivos y tamaños de pantalla. </li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Opción de modificar el tamaño y la fuente del texto para adaptarse a las preferencias de cada usuario.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Alternativas textuales para todas las imágenes garantizar la accesibilidad a personas con discapacidades visuales. </li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Controles de navegación compatibles con el teclado para facilitar el acceso a la página web a personas con discapacidades motoras.</li>
            <li class="list-group-item border-0 bg-light p-2 "><i class="fa-solid fa-check text-blue-blue-800"></i> Compatibilidad con tecnologías de apoyo, como lectores de pantalla y dispositivos de entrada alternativos. </li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-12 align-self-center text-center">
        <img src="{% static '/img/shine-young-people-discussing-work-issues-1.png' %}" class="object-fit-cover img-fluid text-center" width="500em" alt="Gente discutiendo sobre trabajo">
    </div>
</div>
{% endblock %}