{% extends 'dyslexia/base.html' %}

{% block title %}Password Reset Complete - ReadRight{% endblock %}
{% block title %}Enter New Password - ReadRight{% endblock %}

{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/register/profile">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contraseña actualizada</li>
{% endblock %}
{% block h1 %}La contraseña se ha actualizado adecuadamente{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <p>Your password has been set. You may go ahead and <a href="{% url 'register:login' %}">log in</a>.</p>
{% endblock %}