{% extends 'dyslexia/base.html' %}

{% block title %}Reset Password - ReadRight{% endblock %}

{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/register/profile">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">¿Olvidaste la contraseña?</li>
{% endblock %}
{% block h1 %}Actualiza la contraseña para acceder al contenido{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <p>Introduce tu email. Te enviaremos información para que actualices la contraseña:</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Enviar email</button>
  </form>
{% endblock %}