{% extends 'dyslexia/base.html' %}

{% block title %}Password Reset Complete - ReadRight{% endblock %}

{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/register/profile">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contraseña actualizada</li>
{% endblock %}
{% block h1 %}La contraseña actualizada se ha enviado{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
    <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
{% endblock %}