{% extends 'dyslexia/base.html' %}

{% block title %}Password Reset Complete - ReadRight{% endblock %}

{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/register/profile">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contraseña actualizada</li>
{% endblock %}
{% block h1 %}La contraseña se ha actualizado adecuadamente{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container p-4">
    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
    <hr>                 
      <p>Tu contraseña se ha actualizaod. Puedes acceder a la página <a href="{% url 'login' %}">log in</a> ahora.</p>
  </div>
{% endblock %}