{% extends 'dyslexia/base.html' %}
{% load static %}

{% block title %}Profile page - ReadRight{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/register/profile">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Resetear contraseña</li>
{% endblock %}
{% block h1 %}Cambia contraseña{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-cyan-700 fs-5 mt-4">Cambiar contraseña</button>
    </form>
{% endblock %}