html,body
{
    font-family: 'OpenDyslexic' !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.font-size-1 { font-size: 75% !important; }
.font-size-2 { font-size: 80% !important; }
.font-size-3 { font-size: 100% !important; } /* tamaño por defecto */
.font-size-4 { font-size: 125% !important; }
.font-size-5 { font-size: 150% !important; }

.font-family-1 { font-family: 'OpenDyslexic' !important; } /* actual */
.font-family-2 { font-family: 'Montserrat' !important; }
.font-family-3 { font-family: 'Verdana' !important; }
.font-family-4 { font-family: 'Times New Roman' !important; }

.line-height-1 { line-height: 150% ; } /* interlineado normal */
.line-height-2 { line-height: 200% ; } /* interlineado aumentado */

.cursor-1 { cursor: default ; }
.cursor-2 { cursor: pointer ; }
