{% extends 'practica/base.html' %}
{% load static %}
{% block title %}Test page - ReadRight{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item disable">Inicio</li>
    <li class="breadcrumb-item disable">Ejercicios de tratamiento</li>
    <li class="breadcrumb-item active" aria-current="page">Realización del Ejercicio</li>
{% endblock %}

{% block content %}

<head>

</head>

<div class="modal fade" id="nextModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="nextModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-container"></div>
    </div>
</div>
<div class="container-fluid p-0 m-0"
    id="exercise-data"
        class="d-none"
        data-x="{{ exercise.x }}"
        data-o="{{ exercise.o }}"
        data-states="{{ exercise.states }}"
        data-words="{{ exercise.words }}"
        data-letters="{{ exercise.letters }}"
        data-photos="{{ exercise.images }}"
        data-index="{{ exercise.id }}"
        data-back="{{ exercise.back }}"
        data-red="{{ exercise.red }}"
        data-blue="{{ exercise.blue }}"
        data-yellow="{{ exercise.yellow }}"
        data-green="{{ exercise.green }}"
        data-left="{{exercise.rightSize}}"
        data-right="{{exercise.leftSize}}">
    </div>
    <div class="card p-0">
        <div class="card-header text-center bg-blue-blue-100">
            <span id="header" class="fs-1">
                {{ exercise.title }}
            </span>
        </div>
        <div class="card-body text-center px-2 pt-3">
            <div id="tic-tac-toe-board"></div>
            <div id="photos-board"></div>
            <div id="memory-board"></div>
            <div class="row align-text-center" id="twister-board">
                <div id="left-column" class="col-3"></div>
                <div id="center-column" class="col-6 align-text-center text-center"></div>
                <div id="right-column" class="col-3"></div>
            </div>
            <h2 class="text-center" id="hang-man-word" aria-label="Letras acertadas"></h2>
            <div  id="hang-man-board">
            </div>
            <div id="hangman-input-container">
            </div>
            <div class="fs-3 text-center" id="hang-man-letters" aria-label="Letras falladas"></div>
            </div>
            <div class="fs-2 text-center" id="word-container">
            </div>
            <div class="fs-3 text-center m-3" id="choices-container" aria-label="Opciones"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/js/practice.js' %}"></script>
{% endblock %}

